ADMINS="'(\"Your Name\", \"email@example.com\")','(\"Your Name\", \"email@example.com\")'"
ALLOWED_HOSTS=localhost,127.0.0.1
CORS_ORIGIN_WHITELIST=http://localhost:3000,http://127.0.0.1:8000
DATABASE_URL=postgres://postgres:password@db/postgres
DJANGO_SETTINGS_MODULE=julius_app.settings.development
DEBUG=True
EMAIL_HOST=localhost
EMAIL_PORT=25
EMAIL_HOST_PASSWORD=password
EMAIL_HOST_USER=user
EMAIL_USE_TLS=False
POSTGRES_PASSWORD=password
SECRET_KEY=l4azhq2&q@3@elzs0^lj9u7@grocolye@y-x+c*8+f_y%+_50s
